@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");

.home-bg {
  height: 100vh;
  width: 100vw;
  /* margin-top: -12vh; */
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../../images/main-cover.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.text-font {
  font-family: "Fira Sans", sans-serif;
}
.typed-text {
  font-size: 2rem;
  color: #e4534e;
  font-weight: 700;
}
.img-width {
  height: 4.9vw;
  /* width: 4rem; */
}
.text-style {
  font-size: 1.8vw;
  font-weight: 200;
  color: white;
  /* text-align: center; */
}
